# ─── SERVIDOR ───────────────────────────────────────────────
PORT=5000
# ─── APLICACIÓN ────────────          ─────────────────────────────────
APP_NAME=TechCheck
APP_VERSION=1.0.0
# development | production
NODE_ENV=development